<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>

<div class="align">
    <h1>Product Manager</h1>
    <a href="new"> Create Product</a>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price </th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody >
        <tr th:each="product : ${listProducts}" >
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.madein}"></td>
            <td th:text="${product.price}"></td>

            <td>
                <a th:href="@{'/edit/'+${product.id}}">Edit</a>
                <a th:href="@{'/delete/'+${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>
